{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container px-4 py-5" style="height: 650px;">
    <h2 class="pb-2 border-bottom">Заглушка страницы о компании</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Выровненный по левому краю заголовок</h2>
        <p class="text-body-secondary">Удивительно длинный, очень длинный, прям длинный текст, объясняющий пользователю, чем занимается наша компания и почему он должен купить какой-нибудь продукт именно у нас.</p>
        <a href="#" class="btn btn-primary btn-lg">Какая-то кнопка</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Удивительное название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком с пояснением к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Удивительное название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком с пояснением к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Удивительное название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком с пояснением к заголовку.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Удивительное название</h4>
            <p class="text-body-secondary">Абзац текста под заголовком с пояснением к заголовку.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}