{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-body-emphasis" style="text-align: center">Это страница каталога</h1>
    <p class="col-lg-8 mx-auto lead">
      Здесь вы можете посмотреть товары и даже попробовать заказать их, однако у вас ничего не получиться, так как у нас нет системы оплаты
    </p>
  </div>
{% if not products %}
  <h1 class="text-body-emphasis" style="text-align: center">Тут пока ничего нет...</h1>
{% else %}

  {% for cat, msg in get_flashed_messages(with_categories=True) %}
    {% if cat == "success" %}
      <div class="alert alert-success d-flex align-items-center shadow  rounded" role="alert" style="height: 50px;">
        <div>
          {{ msg }}
        </div>
      </div>
      {% else %}
      <div class="alert alert-warning d-flex align-items-center shadow rounded" role="alert" style="height: 50px;">
        <div>
          {{ msg }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for product in products %}
    <div style="margin-top: 30px; padding: 0;">
        <div class="container">
          <div class="row-custom">
            <div class="col">
              <div class="card shadow-sm">
                <a href="/products/{{ product.product_id }}"><img src="{{ url_for('uploaded_product_file', filename=product.image) }}" height="300px;" width="98%;" style="margin: 1%;  border-radius: 5px;"></a>
                <div class="card-body">
                  <a href="/products/{{ product.product_id }}/" class="card-text btn btn-warning shadow-sm" style="font-size: 20px; margin-bottom: 10px;">{{ product.title }}</a>
                  <p class="card-text" >{{ product.short_description }}</p>
                  <a href="/products/{{ product.product_id }}" class="btn btn-warning card shadow-sm" style="font-size: 26px;">{{ product.price }} руб.</a>
                  {% if current_user.is_staff or current_user.is_superuser %}
                    <a href="/products/{{ product.product_id }}/delete_product/" class="btn btn-danger shadow-sm" style="margin-top: 10px;">Удалить</a>
                  {% endif %}
                  <a href="#" class="btn btn-success shadow-sm" style="margin-top: 10px;">Добавить в корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  {% endfor %}
{% endif %}
<!--<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">-->
<!--    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->
<!--    </a>-->
<!--    <hr>-->
<!--    <ul class="nav nav-pills flex-column mb-auto">-->
<!--      <li class="nav-item">-->
<!--        <a href="#" class="nav-link active" aria-current="page">-->
<!--          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>-->
<!--          Home-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>-->
<!--          Dashboard-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>-->
<!--          Orders-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>-->
<!--          Products-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--          Customers-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <hr>-->
<!--    <div class="dropdown">-->
<!--      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--        <strong>mdo</strong>-->
<!--      </a>-->
<!--      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">-->
<!--        <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--        <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--        <li><hr class="dropdown-divider"></li>-->
<!--        <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container" style="align-items: center; margin-top: 50px; justify-content: center; display: flex;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}