{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="py-5 text-center">
      <h1>Профиль пользователя <span style="color: #ffc107;">{{ current_user.get_username() }}</span></h1>
    </div>
<div class="container">
  {% for cat, msg in get_flashed_messages(with_categories=True) %}
      {% if cat == "success" %}
      <div class="alert alert-success d-flex align-items-center shadow  rounded" role="alert" style="height: 50px;">
        <div>
          {{ msg }}
        </div>
      </div>
      {% else %}
      <div class="alert alert-warning d-flex align-items-center shadow rounded" role="alert" style="height: 50px;">
        <div>
          {{ msg }}
        </div>
      </div>
      {% endif %}
  {% endfor %}
</div>
    <div class="container">
        <div class="image-container">
            <img src="{{ url_for('uploaded_user_file', filename=current_user.get_image()) }}" class="profile-image">
        </div>
        <form method="post" enctype="multipart/form-data">
             <div class="row g-3">
                <div class="col-sm-6">
                  <label class="form-label">Фотография</label>
                  <input type="file" class="form-control" name="image" placeholder="{{ current_user.get_image() }}">
                </div>

                <div class="col-sm-6">
                  <label for="PhoneNumber" class="form-label">Номер телефона</label>
                  <input type="text" class="form-control" name="phone" id="PhoneNumber" value="{{ current_user.get_phone_number() }}" readonly>
                </div>

                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Имя</label>
                  <input type="text" class="form-control" id="firstName" name="name" value="{{ current_user.get_name() }}">
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Фамилия</label>
                  <input type="text" class="form-control" id="lastName" name="surname" value="{{ current_user.get_surname() }}">
                </div>

                <div class="col-sm-6">
                  <label for="username" class="form-label">Имя пользователя</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="username" name="username" value="{{ current_user.get_username() }}" required="">
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="email" class="form-label">Email<span class="text-body-secondary"></span></label>
                  <input type="email" class="form-control" id="email" name="email" value="{{ current_user.get_email() }}" readonly>
                </div>

                <div class="col-12">
                  <label for="address" class="form-label">Адрес</label>
                  <input type="text" class="form-control" id="address" name="address" value="{{ current_user.get_address() }}">
                </div>

                <div class="col-12">
                  <label for="address2" class="form-label">Дополнительный адрес<span class="text-body-secondary">(Опционально)</span></label>
                  <input type="text" class="form-control" id="address2" name="additional_address" value="{{ current_user.get_additional_address() }}">
                </div>

                <div class="col-12">
                  <label for="country" class="form-label">Страна</label>
                    <input type="text" class="form-control" value="{{ current_user.get_country() }}" style="margin-bottom: 5px;" readonly>
                  <select class="form-select" id="country" name="country">
                    <option value="{{ current_user.get_country() }}">Выбор...</option>
                      <option>Russia</option>
                      <option>Belarus</option>
                      <option>Kazakhstan</option>
                  </select>
                </div>

              </div>
            <div style="margin-top: 10px; display: flex; justify-content: flex-end;">
                <input type="submit" class="btn btn-success" value="Подтвердить" style="height: 50px; font-size: 20px;">
            </div>
        </form>
    </div>
{% endblock %}
