.bg-body-tertiary-custom {
    --bs-bg-opacity: 1;

.text-body-secondary {
    --bs-text-opacity: 1;
    color: white !important;
}

.text:hover {
  cursor: default;
  text-align: left;
  justify-content: center;
}
